:host {
  margin: 1rem 0 0 1rem;
}

@media only screen and (max-width: 768px) {
  :host {
    margin-left: 0;
    margin-right: 0;
  }
}

mat-card {
  width: 280px;
}

mat-card-footer {
  display: flex;
  justify-content: center;
}

.victory {
  background-color: lightgreen;
}
.victory .battle-outcome-text {
  color: green;
}

.defeat {
  background-color: palevioletred;
}
.defeat .battle-outcome-text {
  color: darkred;
}

.tie-bg {
  background-color: lightgray;
}

.battle-outcome-text {
  font-weight: bold;
  text-align: center;
}
