<button
  mat-raised-button
  color="primary"
  (click)="onLoadInitialResources()"
  [mtBasicSpinner]="viewStatus === ViewStatus.LOADING"
  [disabled]="viewStatus === ViewStatus.LOADING"
  [ngSwitch]="viewStatus"
  data-testid="preloading-game-data-bnt"
>
  <span *ngSwitchCase="ViewStatus.LOADING">Loading game data...</span>
  <span *ngSwitchCase="ViewStatus.ERROR || ViewStatus.SUCCESS"
    >Reload game data</span
  >
  <span *ngSwitchDefault>Load game data</span>
</button>
<div class="game-logs" data-testid="preloading-logs-container">
  <p
    *ngFor="let record of loadedGameData$ | async; index as i"
    [ngStyle]="{ backgroundColor: i % 2 === 0 ? 'lightblue' : 'lightgray' }"
    data-testid="data-preloading-log"
  >
    {{ record | json }}
  </p>
</div>
