.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
}

/* TODO: Move to a separate component (?) */
.game-board__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-cards__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .player-cards__container {
    flex-direction: column;
  }
}
