.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
}

.game-board__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-buttons {
  display: flex;
  justify-content: center;
}

.game-buttons {
  button:not(:last-child) {
    margin-right: 0.5rem;
  }
}
